<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <main>
            <div class="jumbotron d-flex justify-content-center align-items-center flex-column">
                <h1 class="moviesearch">Showfinder</h1>
                <p class="lead">Search Your Favourite Shows and Movies</p>
                <form id="form" method="GET" action="/">
                    <input type="text" name="movie" id="movieinp" placeholder="Type Movie or Show's Keyword">
                    <!-- <button type="button" class="btn btn-dark">Submit</button> -->
                    <input type="submit" class="btn btn-dark" value="Submit" />
                </form>
            </div>

            <div class="container">
                <% let length=json.length %>
                    <% let eachrow=0 %>
                        <% let start=0 %>
                            <% let end=0 %>
                                <% let j=0 %>
                                    <% if(length < 3){ %>
                                        <% leachrow=0 %>
                                            <% end=length %>
                                                <% } else{ %>
                                                    <% end=start + 3 %>
                                                        <% eachrow=Math.floor(json.length/3) %>
                                                            <% } %>

                                                                <h1 class="searchresult">
                                                                    <!-- Showing -->
                                                                    <%= length %>
                                                                        <!-- Results -->
                                                                </h1>
                                                                <% for(let i=0; i< eachrow + 1; i++){ %>
                                                                    <div class="row d-flex justify-content-center">
                                                                        <% for(let j=start ; j < end ; j++){ %>
                                                                            <% if( j<length ){ %>
                                                                                <div
                                                                                    class="col-md-4 d-flex justify-content-center align-items-start">
                                                                                    <div class="card my-3"
                                                                                        style="width: 21rem">

                                                                                        <% if(!json[j].show.image){ %>
                                                                                            <img class="card-img-top movieimage"
                                                                                                src="/images/noimage.jpg"
                                                                                                alt="Card image cap">
                                                                                            <% }else { %>
                                                                                                <img class="card-img-top movieimage"
                                                                                                    src="<%= json[j].show.image.original %>"
                                                                                                    alt="Card image cap">

                                                                                                <% } %>



                                                                                                    <div
                                                                                                        class="card-body">
                                                                                                        <span
                                                                                                            class="card-title movie-title my-0">
                                                                                                            <%= json[j].show.name
                                                                                                                %>
                                                                                                        </span>

                                                                                                        <span
                                                                                                            class="movie-lang">

                                                                                                            <%= json[j].show.language
                                                                                                                %>
                                                                                                        </span>

                                                                                                        <span
                                                                                                            class="genres">
                                                                                                            Genre
                                                                                                            -
                                                                                                            <% for(let
                                                                                                                genres
                                                                                                                of
                                                                                                                json[j].show.genres)
                                                                                                                { %>
                                                                                                                <% if(genres)
                                                                                                                    {%>
                                                                                                                    <%= genres
                                                                                                                        %>
                                                                                                                        <% }
                                                                                                                            else{%>
                                                                                                                            <p> Not
                                                                                                                                Availble
                                                                                                                            </p>
                                                                                                                            <% }
                                                                                                                                %>
                                                                                                                                <% }
                                                                                                                                    %>
                                                                                                        </span>




                                                                                                        <span
                                                                                                            class="released">
                                                                                                            Preimiered
                                                                                                            on
                                                                                                            -
                                                                                                            <%= json[j].show.premiered
                                                                                                                %>
                                                                                                        </span>
                                                                                                        <div
                                                                                                            class="card-text">

                                                                                                        </div>

                                                                                                    </div>


                                                                                    </div>

                                                                                </div>

                                                                                <% } %>
                                                                                    <% } %>
                                                                                        <% start=start + 3; %>
                                                                                            <% end=start + 3; %>
                                                                    </div>
                                                                    <% } %>
            </div>


        </main>

        <%- include('partials/footer') %>